/*图片展现区*/
#houseImages{
	background-color:#473c31;
}
#houseImages img{
	width:100%;
}
#houseImages .i1{
	height:50%;
}
#houseImages .swiper-slide{
	margin:auto 0px;  /*图片所在的div上下居中  */
}
.houseImagesTitle{
	font-size:50px;
	font-weight:bold;
	color:white;
}
.houseImagesInfos{
	font-size:35px;
	color:#c1bcbc;
}

#houseImages hr{
	height:5px;
	background-color:#645f54; /*需要加height属性，否则没效果*/
	width:180px;   /*长度*/
	margin-left:0;
	border:none;
}




/*-----------------------*/
.content img{
	width:100%;
	height:500px;
}
.title{
	font-size:50px;
	font-weight:bold;
}
.head-img img{
	height:120px;
}
/* 上面的div浮动后，下面的div就会上去 ，与上面的并齐 */
.head-img{
	width:120px;
	height:120px;
	float:left;
	margin-top:13px;
	margin-right:30px;
}

.readme{
	width:90%;
	height:160px;
	font-size:30px;
	margin:0px 80px;
}
.name{
	color:red;
	font-weight:bold;
	font-size:36px;
}
.expert{
	font-size:36px;
	font-weight:bold;
}

/*独立房间*/
.room{
	/* border:1px solid blue; */
}

.configuration1,.configuration2,.configuration3,.configuration4{
	/* border:1px solid red; */
	width:120px;
	float:left;
}

.configuration2,.configuration3,.configuration4{
	margin-left:80px;
}

.configuration5{
	clear:left;
}
.room-img{
	width:120px;
	height:120px;
	/* border:1px solid blue; */
}
.configuration1 span,.configuration2 span,.configuration3 span,.configuration4 span{
	font-size:28px;
	/* border:1px solid red; */
}
.count{
	width:120px;
	/* border:1px solid blue; */
	text-align:center;   /* .count 的div中的文本 居中   不是用于span元素 */
}

/*房源介绍*/
.p1{
	font-size:32px;
	font-weight:bold;
}

.p2{
	font-size:30px;
}
/*地图区*/
#container{
	width:100%;
}



/*入住须知*/
.regulations{
	height:100px;
}
.options{
	height:20px;
	float:left;
	margin-top:30px;
}
.regulations img{
	width:100px;
	height:100px;
	float:right;
}
.regulations2{
	clear:left;
}
.notes{
    /* border:1px solid red; */
}

/*退订政策页面*/
#policyInfo,#facilityCode h1{
	font-size:40px;
}
#policyInfo,#facilityCode h3{
	font-size:30px;
}
#policyInfo,#facilityCode h2{
	font-size:36px;
}
#policyInfo,#facilityCode p{
	font-size:25px;
}
 .removeButton {
	width:100px;
	height:100px;
	margin:0 auto;
}
.removeButton img{
	width:100px;
	height:100px;
}
.importance{
	color:red;
}



/*联系房东预订*/
.apply_book_btn{
	height:130px;
	background-color:red;
}
.apply_book_btn p{
	color:white;
	text-align:center;
	font-size:40px;
	font-weight:bold;
	height:130px;
	line-height:130px; 
}



