body{
	background-color:#f2f1f1;
}

.introduction{
	background-color:white;
}
.introduction img{
	width:300px;
	height:220px;
	float:left;
}
.introduction span{
	font-size:40px;
	font-weight:bold;
	
}
.span1{
	margin-left:130px;
	width:790px;
	height:220px;
    /* border:1px solid blue; */
}
.introduction p{
	margin-top:20px;
	color:#ccc;
	font-size:40px;
}

/*旅行时间*/
#title,#title1,#title2{
	text-align:center;
    font-size:40px;
	font-weight:bold;
}

/*设置统一背景色*/
.travel_time,.staty_num,.travel_plan{
	margin-top:-10px;
	margin-left:15px;
	width:930px;
	height:100px;
	background-color:white;
}

.travel_time{
	height:240px;
}
.travel_time img{
	height:220px;
	margin-left:-350px;
}
.go_time,.leave_time{
	width:280px;
	margin-left:110px;
	margin-top:20px;
	float:left;
	/* border:1px solid blue; */
	text-align:center;  /*设置button居中*/
}

.p1{
	font-size:40px;
	font-weight:bold;
	text-align:center;
}
#J_Example .J_Count{
	font-size:35px;
	font-weight:bold;
	color:red;
}

/*入住人数宽度*/
.staty_num{
	height:200px;
	width:930px;
}
.staty-info .i1{
	margin-left:100px;
}
.staty-info input,span{
	height:50px;
	width:50px;
	font-size:40px;
	margin-left:50px;
	margin-top:60px;
}





/*日历表中房源信息样式*/
.btn-corner input,span{
	height:15px;
	width:50px;
	font-size:24px;
	margin-left:5px;
	margin-top:20px;
} 


/*旅行计划*/
.travel_plan{
	height:180px;
}
.travel_plan input{
	margin-top:50px;
	width:930px;
	font-size:40px;
}




/*入住人信息*/
.userInfo{
	margin-left:15px;
	width:930px;
	
	height:300px;
	background-color:white;
}
.userInfo span,font{
	font-size:40px;
}
.userInfo input{
	border:0;
	margin-top:50px;
	width:600px;
	height:80px;
	font-size:40px;
}


/*申请预订*/
.apply_book{
	height:130px;
	background-color:red;
}
.apply_book p{
	color:white;
	text-align:center;
	font-size:40px;
	font-weight:bold;
	height:130px;
	line-height:130px; 
}
